* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slide_show {
  border: 2px solid green;
  width: 40vw;
  overflow: hidden;
  position: relative;

  .image_display {
    width: 40vw;
    height: 40vw;
    white-space: nowrap;

    img {
      width: 40vw;
      height: 40vw;

      display: inline-block;
    }
  }

  .dot_display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div {
      width: 2vw;
      height: 2vw;
      border-radius: 100%;
      background-color: gray;
      margin: 0 0.25vw;
      cursor: pointer;
    }

    .active {
      background-color: aqua;
    }
  }

  .control {
    width: 4vw;
    height: 40vw;
    position: absolute;
    z-index: 10;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      width: 4vw;
      height: 15vw;
      background-color: rgba(185, 185, 185, 0);
      stroke: black;
      stroke-width: 0.5vw;
      fill: rgb(214, 214, 214);
      transition: all ease 0.3s;

      &:hover {
        transform: scale(1.5);
        background-color: rgba(209, 209, 209, 0.2);
      }
    }
  }

  .to_left {
    transform: rotate3d(0, 1, 0, 180deg);
  }

  .to_right {
    left: 36vw;
  }
}
