* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Buffalo";
  src: url("BuffaloInline2Grunge.ttf");
  // src: url(BuffaloInline2Grunge.otf);
}

:root {
  --nav-width: 80%;

  --link-width: 48%;
  --link-height: 4.5vh;

  --link-background-color: rgb(239, 239, 239);
  --link-active-background-color: rgb(233, 233, 233);
  --link-border-color: rgb(212, 212, 212);

  --link-left-offset: 20%;
  --link-font-size: 1.75vw;
  --link-active-font-size: 2vw;

  --anime-time: 500ms;
}

.button_navigation {
  width: var(--nav-width);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  a {
    width: var(--link-width);
    height: var(--link-height);
    margin: calc((50% - var(--link-width)) / 2);

    background-color: var(--link-background-color);
    border: 1px solid var(--link-border-color);
    border-radius: 0.4vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1vh 3.6vh 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 0.2vh;

    text-decoration: none;

    transition: all var(--anime-time) ease;
    display: flex;
    align-items: center;

    h2 {
      transition: all var(--anime-time) ease;
      font-size: var(--link-font-size);
      font-family: "Buffalo";
      padding-left: var(--link-left-offset);
    }

    &:hover {
      background-color: var(--link-active-background-color);
      transform: scale(1.04, 1.2);

      h2 {
        font-size: var(--link-active-font-size);
      }
    }
  }
}
